.navbar-top {
    width: 100%;
    background-color: #E8F9FF;
    display: flex;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100;
    font-family: "Calistoga";
}

.logo-letras img {
    width: 8em;
}

.left-items {
    display: flex;
    gap: 15px;
    margin-left: 30px;
}

.right-items {
    display: flex;
    gap: 15px;
    margin-left: auto; 
    margin-right: 10px;
}

.navbar-top ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.navbar-top ul li {
    color: white;
}

.active-link-top{
    border-bottom: 3px solid #EA9D15; 
    padding-bottom: 5px;
}

.navbar-top a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 1.5em;
}

.navbar-top a:hover svg{
    transform: scale(1.2); 
    transition: all 0.3s ease;
}


a svg {
    font-size: 1.8rem; 
    margin-right: 10px; 
    color: #ea9d15;
}

.navbar-bottom {
    display: none;
    width: 100%;
    background-color: #E8F9FF;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 5px;
}

.navbar-bottom ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 5px;
}

.navbar-bottom a svg {
    font-size: 40px;
    color: #EA9D15;
}

.active-link-bottom svg{
    color: black !important;
    transform: scale(1.2);
}

button {
    border-radius: 25px;
    padding: 5px 14px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px;
    background-color: #edae41;
}

button:hover {
    background-color: #e39d24; 
    color: rgb(255, 255, 255); 
    transform: scale(1.05);
}

.register-button {
    background-color: #39aa54;
    color: white;
}

.register-button:hover {
    background-color: #218838;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 768px) {
    .navbar-top {
        display: none;
    }

    .navbar-bottom {
        display: block;
    }
}
