.navbar-top {
    width: 100%;
    background-color: rgb(218, 218, 218);
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    font-family: "M PLUS Rounded 1c";
    font-weight:bold;
}

/* Logo */
.logo-letras img {
    width: 10em; 
    padding: 4px;
}

.left-items {
    display: flex;
    gap: 15px;
    margin-left: 30px;
}

.right-items {
    display: flex;
    gap: 15px;
    margin-left: auto; 
    margin-right: 40px;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


li {
    color: white;
}

a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 6px;
    font-size: 1.4em;
}

a:hover {
    transform: scale(1.1); 
}

a svg {
    font-size: 1.8rem; 
    margin-right: 10px; 
    color: #EA9D15;
}

.navbar-bottom {
    display: none;
    width: 100%;
    background-color: rgb(198, 188, 188);
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.navbar-bottom ul {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 0;
}

.navbar-bottom a svg {
    font-size: 1.6em;
    color: #EA9D15;
}


@media screen and (max-width: 768px) {
    .navbar-top {
        display: none;
    }

    .navbar-bottom {
        display: block;
    }
}
