#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
    background-color: #C6E7FF !important;
}

img {
    width: 150px;
}

.card {
    background-color:#E8F9FF; 
    
}

input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5%;
    
  }
  
  .cuadro {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .card-title {
    border: 1px solid #ccc;
    border-radius: 5px; 
    padding: 10px;
  }